.App {
  font-size: 20px;
}

.InitialContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.AboutInfoContainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  max-width: 800px;
}

.MainPicture {
  max-width: 30%;
  height: auto;
}

.Links {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0px;
  align-self: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */